
{% load static %}
 
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>FoodBakery</title>
	<!-- Google Font Family Link Start -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800">
	<!-- Google Font Family Link End -->
	<!-- Bootstrap Link Start-->
	<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-theme.css'%}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-datepicker.css'%}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-slider.css'%}" rel="stylesheet">
	<!-- Bootstrap Link End-->
	<!-- Iconmoon Link Start-->
	<link href="{% static '/css/iconmoon.css'%}" rel="stylesheet">
	<!-- Iconmoon Link End-->
	<!-- Animate Link Start-->
	<link href="{% static 'css/animate.css'%}" rel="stylesheet">
	<!-- Animate Link End-->
	<!-- Chosen Link Start-->
	<link href="{% static 'css/chosen.css'%"} rel="stylesheet">
	<!-- Chosen Link End-->
	<!-- Swiper Link Start-->
	<link href="{% static 'css/swiper.css'%}" rel="stylesheet">
	<!-- Swiper Link End-->
	<!-- Woocommerce Link Start-->
	<link href="{% static 'css/woocommerce.css'%}" rel="stylesheet">
	<!-- Woocommerce Link End-->
	<!-- Pretty Photo Link Start-->
	<link href="{% static 'css/prettyPhoto.css'%}" rel="stylesheet">
	<!-- Pretty Photo Link End-->
	<!-- Themes / plugin Link Start-->
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	<link href="{% static 'css/cs-foodbake'%}ry-plugin.css" rel="stylesheet">
	<link href="{% static 'css/color.css'%}"rel="stylesheet">
	<link href="{% static 'css/widget.css' %}"  rel="stylesheet">
	<link href="{% static 'css/responsive.css'%}" rel="stylesheet">
	<link href="{% static 'css/rtl.css'%}" rel="stylesheet">
	<!-- Themes / plugin Link End-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{% static 'js/modernizr.js'%}"></script>
	<script src="{% static 'js/bootstrap.js'%}"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>
	<!--Main Wrapper-->
	<div class="wrapper">
		<!-- Header Start -->
		<header id="header">
			<div class="main-header">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<div class="logo">
								<figure>
									<a href="index.html" class="light-logo">
										<img src="{% static 'extra-images/main-logo.png' %}" alt="FoodOnline">
									</a>
								</figure>
							</div>
							<div class="main-nav">
								<nav id="site-navigation" class="main-navigation">
									<ul>
										<li>
											<a href="#">Demos</a>
											<ul>
												<li><a href="index.html">Food Bakery</a></li>
												<li><a href="mexican-restaurant.html">Mexican Restaurant</a></li>
												<li><a href="foodstop.html">Food Stop</a></li>
												<li><a href="rtl.html">Rtl Demo</a></li>
												<li><a href="food-cout.html">Food Court</a></li>
												<li><a href="single-restaurant.html">Single Restaurant Demo</a></li>
											</ul>
											<!--End Sub Menu -->
										</li>
										<li><a href="listings.html">Restaurants</a></li>
										<li>
											<a href="#">Pages</a>
											<ul>
												<li><a href="price-plans.html">Price Plans</a></li>
												<li><a href="how-it-works.html">How it works</a></li>
												<li><a href="faq.html">FAQ’s</a></li>
												<li><a href="404.html">404</a></li>
												<li><a href="search-result.html">Search Result</a></li>
												<li><a href="contact-us.html">Contact</a></li>
											</ul>
											<!--End Sub Menu -->
										</li>
										<li>
											<a href="#">Blogs</a>
											<ul>
												<li><a href="blog-large.html">Blog Large</a></li>
												<li><a href="blog-medium.html">Blog Medium</a></li>
												<li><a href="blog-masonry.html">Blog Masonry</a></li>
												<li><a href="blog-detail.html">Blog Detail Page</a></li>
											</ul>
											<!--End Sub Menu -->
										</li>
									</ul>
								</nav><!-- .main-navigation -->
							</div>
							<div class="main-location">
								<ul>
									<li class="location-has-children">
										<a href="#"><i class="icon-compass-with-white-needles"></i>Feel Like Eating</a>
										<ul>

											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-05-1.png">Apple
													Juice</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-19-1.png">BB.Q</a><span></span>
											</li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-22-1.png">Beef
													Roast</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-10-1.png">Carrot
													Juice</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-03-1.png">Cheese
													Burger</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-07-1.png">Chicken
													Roast</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-01-1.png">Chines
													Soup</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-18-1.png">Cold
													Coffee</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-23-1.png">Cold
													Drink</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-28-1.png">Cupcake</a><span></span>
											</li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-21-1.png">Doughnut</a><span></span>
											</li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-25-1.png">Drum
													Stick</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-11-1.png">Egg
													Fry</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-12-1.png">Fish
													Fry</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-13-1.png">Fresh
													Juice</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-30-1.png">Hot
													Dogs</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-26-1.png">Ice
													Cream</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-15-1.png">Magi</a>
												<span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-09-1.png">Noodles</a>
												<span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-14-1.png">Pastry</a><span></span>
											</li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-29-1.png">Pizza</a><span></span>
											</li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-06-1.png">Potato
													Fries</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-24-1.png">Prawns</a>
												<span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-17-1.png">Sham
													pane</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-27-1.png">Shawarma</a><span></span>
											</li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-04-1.png">Soda
													water</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-16-1.png">Stakes</a>
												<span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-22-1.png">Steam
													Roast</a> <span></span> </li>
											<li><a href="listings.html"><img alt="" src="assets/extra-images/food-icon-02-1.png">Tea</a><span></span>
											</li>

										</ul>
									</li>
									<li class="location-has-children choose-location">
										<a href="#"><i class="icon-location-pin2"></i>Choose location</a>
										<ul>
											<li class="select-location">
												<div class="foodbakery-locations-fields-group">
													<form action="#">
														<span id="foodbakery_radius_location_open" class="foodbakery-radius-location"><i class="icon-target5"></i></span>
														<span class="foodbakery-input-cross foodbakery-input-cross-header" style="display:none;">
															<i class="icon-cross"></i></span>
														<input type="text" value="" name="location" placeholder="All Locations" autocomplete="off">

														<span><span class="loc-icon-holder"><i class="icon-target3"></i></span></span>
														<div class="select-location" id="foodbakery-radius-range622192" style="display: none;">
															<div class="select-popup popup-open">
																<a id="location_close_popup622192" href="javascript:0;" class="location-close-popup">
																	<i class="icon-times"></i></a>
																<input type="hidden" class="foodbakery-radius" name="foodbakery_radius" value="10">
																<p>Show with in</p>
																<input id="ex16b313324" type="text" data-value="10" value="10" style="display: none;">
																<script>
																	jQuery(document).ready(function () {
																		var elem = jQuery("#ex16b313324");
																		if (elem.length != "") {
																			elem.slider({
																				step: 1,
																				min: 0,
																				max: 500,
																				value: 10,
																			});
																			elem.on("slideStop", function () {
																				var rang_slider_val = elem.val();
																				jQuery("#ex16b313324CurrentSliderValLabel").html(rang_slider_val);
																				jQuery("#range-hidden-foodbakery-radius622192").val(rang_slider_val);
																				//foodbakery_restaurant_content("622192");
																			});
																			elem.on("slide", function () {
																				jQuery("#ex16b313324CurrentSliderValLabel").html(elem.val());
																			});
																		}

																		$("#foodbakery_radius_location_open").click(function () {
																			$("#foodbakery-radius-range622192").show();
																		});
																		$("#location_close_popup622192").click(function () {
																			$("#foodbakery-radius-range622192").hide();
																		});
																	});
																</script>
																<span>Miles: <span id="ex16b313324CurrentSliderValLabel">10</span></span><br>
																<p class="my-location">of <i class="cs-color icon-location-arrow"></i><a id="foodbakery-geo-location-all" class="cs-color foodbakery-geo-location313324" href="javascript:void(0)">My location</a></p>
															</div>
														</div>
													</form>
												</div>
											</li>
											<li class="popular-location">Popular Locations</li>
											<li>
												<ul>
													<li><a href="#">Acle</a></li>
													<li><a href="#">Cheshire</a></li>
													<li><a href="#">Crewe</a></li>
													<li><a href="#">Devon</a></li>
													<li><a href="#">England</a></li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="login-option">
								<a class="cs-color cs-popup-joinus-btn login-popup" data-target="#sign-in" data-toggle="modal" href="#user-register">Login / Register</a><a class="get-start-btn" href="register-restaurant.html">
									Register
									Restaurant </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- Header End -->
		<!-- Main Section Start -->
		<div class="main-section">
			<!-- Home Pages Elements Strat -->
			<!-- Main Search Start -->
			<div class="page-section nopadding cs-nomargin" style="padding-top: 200px; padding-bottom: 150px; margin-bottom: 0px; background: url(assets/extra-images/bg-image1.jpg) no-repeat center / cover;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
							<div class="element-title">
								<h1 style="font-size: 40px; color: #505050; text-transform: uppercase; line-height: 50px; margin-bottom: 25px; text-align:center;">
									We are in the business of food<br>our restaurants do</h1>
								<p style="font-size: 18px; letter-spacing: 1px; color: #505050; text-align:center;">
									Ridiculus sociosqu
									cursus neque cursus curae ante scelerisque vehicula.</p>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
							<div class="main-search fancy bg-holder">
								<form>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-5 col-xs-12">
											<div class="field-holder">
												<input type="text" placeholder="Resturant name">
											</div>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
											<div class="field-holder">
												<ul>
													<li class="select-location">
														<div class="foodbakery-locations-fields-group foodbakery-focus-out">
															<span class="foodbakery-search-location-icon"><i class="icon-location"></i></span>
															<span id="foodbakery_radius_location_open333" class="foodbakery-radius-location"><i class="icon-target5"></i></span>
															<input type="text" class="location-field-text filter" placeholder="All Locations">
														</div>
														<div class="select-location" id="foodbakery-radius-range333" style="display: none;">
															<div class="select-popup popup-open">
																<a id="location_close_popup333" href="javascript:0;" class="location-close-popup">
																	<i class="icon-times"></i></a>
																<input type="hidden" class="foodbakery-radius" name="foodbakery_radius" value="10">
																<p>Show with in</p>
																<input id="ex16b333" type="text" data-value="10" value="10" style="display: none;">
																<script>
																	jQuery(document).ready(function () {
																		var elem = jQuery("#ex16b333");
																		if (elem.length != "") {
																			elem.slider({
																				step: 1,
																				min: 0,
																				max: 500,
																				value: 10,
																			});
																			elem.on("slideStop", function () {
																				var rang_slider_val = elem.val();
																				jQuery("#ex16b333CurrentSliderValLabel").html(rang_slider_val);
																				jQuery("#range-hidden-foodbakery-radius333").val(rang_slider_val);
																				//foodbakery_restaurant_content("333");
																			});
																			elem.on("slide", function () {
																				jQuery("#ex16b333CurrentSliderValLabel").html(elem.val());
																			});
																		}

																		$("#foodbakery_radius_location_open333").click(function () {
																			$("#foodbakery-radius-range333").show();
																		});
																		$("#location_close_popup333").click(function () {
																			$("#foodbakery-radius-range333").hide();
																		});
																	});
																</script>
																<span>Miles: <span id="ex16b333CurrentSliderValLabel">10</span></span><br>
																<p class="my-location">of <i class="cs-color icon-location-arrow"></i><a id="foodbakery-geo-location-all" class="cs-color foodbakery-geo-location313324" href="javascript:void(0)">My location</a></p>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
											<div class="field-holder">
												<input type="submit" value="Search">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="counter-sec">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-xs-4 ">
										<div class="counter-holder counter-one">
											<div class="text-holder">
												<i class="icon- icon-check-circle"></i>
												<strong class="count">16</strong>
												<span>Restaurant</span>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-xs-4 ">
										<div class="counter-holder counter-two">
											<div class="text-holder">
												<i class="icon- icon-check-circle"></i>
												<strong class="count">151</strong>
												<span>People Served</span>
											</div>
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-xs-4 ">
										<div class="counter-holder counter-three">
											<div class="text-holder">
												<i class="icon- icon-check-circle"></i>
												<strong class="count">40</strong>
												<span>Registered Users</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Main Search End -->
			<!-- Browse By Cuisine Section Start -->
			<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 0px;margin-bottom: 0px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="element-title align-left">
								<h2>Browse by cuisine</h2>
								<p>Discover restaurants by type of meal</p>
							</div>
							<div class="categories-holder">
								<div class="col-lg-2 col-sm-4 col-xs-6">
									<div class="col-lg-2 col-sm-4 col-xs-6">
										<div class="categories-list">
											<a href="#">
												<img alt="" src="assets/extra-images/food-icon-19-1.png">
												<h6><span>BB.Q</span></h6>
											</a>
										</div>
									</div>
								</div>
								<div class="col-lg-2 col-sm-4 col-xs-6">
									<div class="categories-list">
										<a href="#">
											<img alt="" src="assets/extra-images/food-icon-22-1.png">
											<h6><span>Beef Roast</span></h6>
										</a>
									</div>
								</div>
								<div class="col-lg-2 col-sm-4 col-xs-6">
									<div class="categories-list">
										<a href="#">
											<img alt="" src="assets/extra-images/food-icon-07-1.png">
											<h6><span>Chicken Roast</span></h6>
										</a>
									</div>
								</div>
								<div class="col-lg-2 col-sm-4 col-xs-6">
									<div class="categories-list">
										<a href="#">
											<img alt="" src="assets/extra-images/food-icon-28-1.png">
											<h6><span>Cupcake</span></h6>
										</a>
									</div>
								</div>
								<div class="col-lg-2 col-sm-4 col-xs-6">
									<div class="categories-list">
										<a href="#">
											<img alt="" src="assets/extra-images/food-icon-21-1.png">
											<h6><span>Doughnut</span></h6>
										</a>
									</div>
								</div>
								<div class="col-lg-2 col-sm-4 col-xs-6">
									<div class="categories-list">
										<a href="#">
											<img alt="" src="assets/extra-images/food-icon-02-1.png">
											<h6><span>Tea</span></h6>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Browse By Cuisine Section End -->
			<!-- Popular Localities Section Start -->
			<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 0px;padding-bottom: 60px;margin-bottom: 0px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="element-title align-left">
								<h2>Popular Localities In And Around Geelong</h2>
								<p>Explore restaurants, bars, and cafés by locality</p>
							</div>
							<div class="location-holder">
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<ul class="location-list">
										<li>
											<a href="#">England</a>
											<span>(28 places)</span>
										</li>
										<li>
											<a href="#">Cheshire</a>
											<span>(3 places)</span>
										</li>
										<li>
											<a href="#">Devon</a>
											<span>(3 places)</span>
										</li>
										<li>
											<a href="#">Bedfordshire</a>
											<span>(2 places)</span>
										</li>
										<li>
											<a href="#">Bedfordshire</a>
											<span>(2 places)</span>
										</li>
									</ul>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<ul class="location-list">
										<li>
											<a href="#">Fowey</a>
											<span>(2 places)</span>
										</li>
										<li>
											<a href="#">Bude</a>
											<span>(2 places)</span>
										</li>
										<li>
											<a href="#">Kent</a>
											<span>(2 places)</span>
										</li>
										<li>
											<a href="#">Maidstone</a>
											<span>(2 places)</span>
										</li>
										<li>
											<a href="#">Scotland</a>
											<span>(2 places)</span>
										</li>
										<li>
											<a href="#">Bedford</a>
											<span>(1 places)</span>
										</li>
									</ul>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<ul class="location-list">
										<li>
											<a href="#">Bridport</a>
											<span>(1 places)</span>
										</li>
										<li>
											<a href="#">Bude</a>
											<span>(1 places)</span>
										</li>
										<li>
											<a href="#">Cambridgeshire</a>
											<span>(1 places)</span>
										</li>
										<li>
											<a href="#">County Down</a>
											<span>(1 places)</span>
										</li>
										<li>
											<a href="#">Crewe</a>
											<span>(1 places)</span>
										</li>
									</ul>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<ul class="location-list">
										<li>
											<a href="#">Huntingdon</a>
											<span>(1 places)</span>
										</li>
										<li>
											<a href="#">Honiton</a>
											<span>(0 places)</span>
										</li>
										<li>
											<a href="#">Stony Stratford</a>
											<span>(0 places)</span>
										</li>
										<li>
											<a href="#">Wales</a>
											<span>(0 places)</span>
										</li>
									</ul>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="more-btn-holder">
										<a class="more-btn" href="#">See more locations</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Popular Localities Section End -->
			<!-- Top Restarurants Section Start -->
			<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 0px;margin-bottom: 0px;background: #ffffff;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="element-title align-left">
								<h2>Top Restaurants</h2>
								<p>Explore restaurants, bars, and cafés by locality</p>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="company-logo">
								<ul>
									<li class="has-border">
										<figure>
											<a href="#"><img src="assets/extra-images/listing-logo18.png" class="attachment-full size-full wp-post-image" alt=""></a>
										</figure>
									</li>
									<li class="has-border">
										<figure>
											<a href="#"><img src="assets/extra-images/fb-restaurant-02.jpg" class="attachment-full size-full wp-post-image" alt=""></a>
										</figure>
									</li>
									<li class="has-border">
										<figure>
											<a href="#"><img src="assets/extra-images/fb-restaurant-04.jpg" class="attachment-full size-full wp-post-image" alt=""></a>
										</figure>
									</li>
									<li class="has-border">
										<figure>
											<a href="#"><img src="assets/extra-images/fb-restaurant-06.jpg" class="attachment-full size-full wp-post-image" alt=""></a>
										</figure>
									</li>
									<li class="has-border">
										<figure>
											<a href="#"><img src="assets/extra-images/xlisting-logo03.png.pagespeed.ic_.aT-o9LinEJ.png" class="attachment-full size-full wp-post-image" alt=""></a>
										</figure>
									</li>
									<li class="has-border">
										<figure>
											<a href="#"><img src="assets/extra-images/listing-logo09.png" class="attachment-full size-full wp-post-image" alt=""></a>
										</figure>
									</li>
									<li class="has-border">
										<figure>
											<a href="#"><img src="assets/extra-images/listing-logo18.png" class="attachment-full size-full wp-post-image" alt=""></a>
										</figure>
									</li>
									<li class="has-border">
										<figure>
											<a href="#"><img src="assets/extra-images/fb-restaurant-09.png" class="attachment-full size-full wp-post-image" alt=""></a>
										</figure>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Top Restarurants Section End -->
			<!-- Choose From Most Popular Listin Start -->
			<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 50px;margin-bottom: 0px;background: #ffffff;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="element-title align-center">
								<h2>Choose From Most Popular</h2>
								<p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="listing fancy">
								<ul class="row">
									<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="list-post featured">
											<div class="img-holder">
												<figure><a href="#"><img src="assets/extra-images/listing-logo18.png" class="img-thumb wp-post-image" alt=""></a></figure>
												<span class="restaurant-status close">
													<em class="bookmarkRibbon"></em>Close
												</span>
											</div>
											<div class="text-holder">
												<div class="list-rating">
													<div class="rating-star">
														<span class="rating-box" style="width: 100%;"></span>
													</div>
													<span class="reviews">(1)</span>
												</div>
												<div class="post-title">
													<h5>
														<a href="#">Restaurant Demo</a>
														<span class="sponsored text-color">Sponsored</span>
													</h5>
												</div>
												<address> <span>Type of food : </span> Apple Juice</address>
												<div class="delivery-potions">
													<div class="post-time">
														<i class="icon-motorcycle"></i>
														<div class="time-tooltip">
															<div class="time-tooltip-holder"> <b class="tooltip-label">Delivery
																	time</b>
																<b class="tooltip-info">Your order will be
																	delivered in 10
																	minutes.</b> </div>
														</div>
													</div>
													<div class="post-time">
														<i class="icon-clock4"></i>
														<div class="time-tooltip">
															<div class="time-tooltip-holder"> <b class="tooltip-label">Pickup time</b>
																<b class="tooltip-info">You can pickup order in
																	15
																	minutes.</b> </div>
														</div>
													</div>
													<span>Totnes</span>
												</div>
											</div>
											<div class="list-option">
												<a href="javascript:void(0);" class="shortlist-btn" data-toggle="modal" data-target="#sign-in">
													<i class="icon-heart-o"></i>
												</a>
											</div>
										</div>
									</li>
									<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="list-post featured">
											<div class="img-holder">
												<figure><a href="#"><img src="assets/extra-images/fb-restaurant-01.jpg" class="img-thumb wp-post-image" alt=""></a></figure>
												<span class="restaurant-status close">
													<em class="bookmarkRibbon"></em>Close
												</span>
											</div>
											<div class="text-holder">
												<div class="list-rating">
													<div class="rating-star">
														<span class="rating-box" style="width: 100%;"></span>
													</div>
													<span class="reviews">(1)</span>
												</div>
												<div class="post-title">
													<h5>
														<a href="#">Jet’s Kitchen</a>
														<span class="sponsored text-color">Sponsored</span>
													</h5>
												</div>
												<address> <span>Type of food : </span> Chines Soup, Egg Fry,
													Fish Fry
												</address>
												<div class="delivery-potions">
													<div class="post-time">
														<i class="icon-motorcycle"></i>
														<div class="time-tooltip">
															<div class="time-tooltip-holder"> <b class="tooltip-label">Delivery
																	time</b>
																<b class="tooltip-info">Your order will be
																	delivered in 10
																	minutes.</b> </div>
														</div>
													</div>
													<div class="post-time">
														<i class="icon-clock4"></i>
														<div class="time-tooltip">
															<div class="time-tooltip-holder"> <b class="tooltip-label">Pickup time</b>
																<b class="tooltip-info">You can pickup order in
																	15
																	minutes.</b> </div>
														</div>
													</div>
													<span>Totnes</span>
												</div>
											</div>
											<div class="list-option">
												<a href="javascript:void(0);" class="shortlist-btn" data-toggle="modal" data-target="#sign-in">
													<i class="icon-heart-o"></i>
												</a>
											</div>
										</div>
									</li>
									<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="list-post featured">
											<div class="img-holder">
												<figure><a href="#"><img src="assets/extra-images/fb-restaurant-04.jpg" class="img-thumb wp-post-image" alt=""></a></figure>
												<span class="restaurant-status close">
													<em class="bookmarkRibbon"></em>Close
												</span>
											</div>
											<div class="text-holder">
												<div class="list-rating">
													<div class="rating-star">
														<span class="rating-box" style="width: 100%;"></span>
													</div>
													<span class="reviews">(1)</span>
												</div>
												<div class="post-title">
													<h5>
														<a href="#">Golden Chick Fries</a>
														<span class="sponsored text-color">Sponsored</span>
													</h5>
												</div>
												<address> <span>Type of food : </span> Doughnut, Hot Dogs, Ice
													Cream
												</address>
												<div class="delivery-potions">
													<div class="post-time">
														<i class="icon-motorcycle"></i>
														<div class="time-tooltip">
															<div class="time-tooltip-holder"> <b class="tooltip-label">Delivery
																	time</b>
																<b class="tooltip-info">Your order will be
																	delivered in 10
																	minutes.</b> </div>
														</div>
													</div>
													<div class="post-time">
														<i class="icon-clock4"></i>
														<div class="time-tooltip">
															<div class="time-tooltip-holder"> <b class="tooltip-label">Pickup time</b>
																<b class="tooltip-info">You can pickup order in
																	15
																	minutes.</b> </div>
														</div>
													</div>
													<span>Totnes</span>
												</div>
											</div>
											<div class="list-option">
												<a href="javascript:void(0);" class="shortlist-btn" data-toggle="modal" data-target="#sign-in">
													<i class="icon-heart-o"></i>
												</a>
											</div>
										</div>
									</li>
									<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="list-post featured">
											<div class="img-holder">
												<figure><a href="#"><img src="assets/extra-images/fb-restaurant-06.jpg" class="img-thumb wp-post-image" alt=""></a></figure>
												<span class="restaurant-status open"><em class="bookmarkRibbon"></em>Open</span>
											</div>
											<div class="text-holder">
												<div class="list-rating">
													<div class="rating-star">
														<span class="rating-box" style="width: 100%;"></span>
													</div>
													<span class="reviews">(1)</span>
												</div>
												<div class="post-title">
													<h5>
														<a href="#">Dragon Express</a>
														<span class="sponsored text-color">Sponsored</span>
													</h5>
												</div>
												<address> <span>Type of food : </span> Apple Juice, Carrot
													Juice, Ice Cream
												</address>
												<div class="delivery-potions">
													<div class="post-time">
														<i class="icon-motorcycle"></i>
														<div class="time-tooltip">
															<div class="time-tooltip-holder"> <b class="tooltip-label">Delivery
																	time</b>
																<b class="tooltip-info">Your order will be
																	delivered in 10
																	minutes.</b> </div>
														</div>
													</div>
													<div class="post-time">
														<i class="icon-clock4"></i>
														<div class="time-tooltip">
															<div class="time-tooltip-holder"> <b class="tooltip-label">Pickup time</b>
																<b class="tooltip-info">You can pickup order in
																	15
																	minutes.</b> </div>
														</div>
													</div>
													<span>Bristol</span>
												</div>
											</div>
											<div class="list-option">
												<a href="javascript:void(0);" class="shortlist-btn" data-toggle="modal" data-target="#sign-in">
													<i class="icon-heart-o"></i>
												</a>
											</div>
										</div>
									</li>
									<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="list-post featured">
											<div class="img-holder">
												<figure><a href="#"><img src="assets/extra-images/xlisting-logo03.png.pagespeed.ic_.aT-o9LinEJ.png" class="img-thumb wp-post-image" alt=""></a></figure>
												<span class="restaurant-status close">
													<em class="bookmarkRibbon"></em>Close
												</span>
											</div>
											<div class="text-holder">
												<div class="list-rating">
													<div class="rating-star">
														<span class="rating-box" style="width: 100%;"></span>
													</div>
													<span class="reviews">(1)</span>
												</div>
												<div class="post-title">
													<h5>
														<a href="#">Nature Healthy Food</a>
														<span class="sponsored text-color">Sponsored</span>
													</h5>
												</div>
												<address> <span>Type of food : </span> Apple Juice, Chicken
													Roast, Chines
													Soup, Magi</address>
												<div class="delivery-potions">
													<div class="post-time">
														<i class="icon-motorcycle"></i>
														<div class="time-tooltip">
															<div class="time-tooltip-holder"> <b class="tooltip-label">Delivery
																	time</b>
																<b class="tooltip-info">Your order will be
																	delivered in 10
																	minutes.</b> </div>
														</div>
													</div>
													<div class="post-time">
														<i class="icon-clock4"></i>
														<div class="time-tooltip">
															<div class="time-tooltip-holder"> <b class="tooltip-label">Pickup time</b>
																<b class="tooltip-info">You can pickup order in
																	15
																	minutes.</b> </div>
														</div>
													</div>
													<span>Totnes</span>
												</div>
											</div>
											<div class="list-option">
												<a href="javascript:void(0);" class="shortlist-btn" data-toggle="modal" data-target="#sign-in">
													<i class="icon-heart-o"></i>
												</a>
											</div>
										</div>
									</li>
									<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<div class="list-post featured">
											<div class="img-holder">
												<figure><a href="#"><img src="assets/extra-images/listing-logo09.png" class="img-thumb wp-post-image" alt=""></a></figure>
												<span class="restaurant-status open">
													<em class="bookmarkRibbon"></em>open
												</span>
											</div>
											<div class="text-holder">
												<div class="list-rating">
													<div class="rating-star">
														<span class="rating-box" style="width: 100%;"></span>
													</div>
													<span class="reviews">(1)</span>
												</div>
												<div class="post-title">
													<h5>
														<a href="#">Menu & Drinks</a>
														<span class="sponsored text-color">Sponsored</span>
													</h5>
												</div>
												<address> <span>Type of food : </span> Chicken Roast, Chines
													Soup, Cold
													Coffee, Cold Drink, Hot Dogs</address>
												<div class="delivery-potions">
													<div class="post-time">
														<i class="icon-motorcycle"></i>
														<div class="time-tooltip">
															<div class="time-tooltip-holder"> <b class="tooltip-label">Delivery
																	time</b>
																<b class="tooltip-info">Your order will be
																	delivered in 10
																	minutes.</b> </div>
														</div>
													</div>
													<div class="post-time">
														<i class="icon-clock4"></i>
														<div class="time-tooltip">
															<div class="time-tooltip-holder"> <b class="tooltip-label">Pickup time</b>
																<b class="tooltip-info">You can pickup order in
																	15
																	minutes.</b> </div>
														</div>
													</div>
													<span>Acle</span>
												</div>
											</div>
											<div class="list-option">
												<a href="javascript:void(0);" class="shortlist-btn" data-toggle="modal" data-target="#sign-in">
													<i class="icon-heart-o"></i>
												</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Choose From Most Popular Listing End -->
			<!-- Choose From Most Popular Section Start -->
			<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 54px;padding-bottom: 36px;margin-bottom: 0px;background: #ebedf3;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="element-title align-center">
								<h2>Choose From Most Popular</h2>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="row">
								<div class="testimonial default">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="text-holder">
											<p>I love you, FoodBakery Just ordered me some grub, and I tell you,
												you folks
												make that part of my life easy.</p>
											<div class="img-holder">
												<figure><img src="assets/extra-images/testimonial-img1.jpg" alt=""></figure>
											</div>
											<div class="author-detail">
												<div class="auther-name"><span>@mangafox</span></div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="text-holder">
											<p>Made my first @FoodBakery order today. So great to be able to
												order food and
												not have to talk to anyone.</p>
											<div class="img-holder">
												<figure><img src="assets/extra-images/testimonial-img2.jpg" alt=""></figure>
											</div>
											<div class="author-detail">
												<div class="auther-name"><span>@mangafox</span></div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="text-holder">
											<p>Shout out to Food Bakery for making my life so so easy! Simply
												amazing and
												worth it for!</p>
											<div class="img-holder">
												<figure><img src="assets/extra-images/testimonial-img3.jpg" alt=""></figure>
											</div>
											<div class="author-detail">
												<div class="auther-name"><span>@ReddPhoeno</span></div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
										<div class="text-holder">
											<p>Seriously, @FoodBakery makes it easy for my coworkers and I to
												order food and
												get it to our office in a jiffy. FOOD!</p>
											<div class="img-holder">
												<figure><img src="assets/extra-images/testimonial-img4.jpg" alt=""></figure>
											</div>
											<div class="author-detail">
												<div class="auther-name"><span>@HubWub</span></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Choose From Most Popular Section End -->
			<!-- Colunm Text Section Start -->
			<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 80px;padding-bottom: 0px;margin-bottom: 0px;background: #ffffff;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="main-post promo-box">
								<div class="img-frame">
									<figure><img src="assets/extra-images/main-post-img-1.png" alt="#">
									</figure>
								</div>
								<div class="column-text">
									<h3 style="color:#000000 !important;">FoodBakery in your mobile! Get our app
									</h3>
									<div class="promo-content">Get our app, it's the fastest way to order food
										on the go.
									</div>
									<a class="app-btn" href="#"><img src="assets/extra-images/app-img1-1.png" alt=""></a>
									<a class="app-btn" href=""><img src="assets/extra-images/app-img2-1.png" alt=""></a>
									<form>
										<div class="field-holder"><input class="field-input" type="email" placeholder="Your Email">
											<label class="field-label-btn"><input class="field-btn" type="submit" value="Send Link"></label>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Colunm Text Section End -->
			<!-- Client logo Section Start -->
			<div class="page-section  nopadding cs-nomargin" style="margin-top: 0px;padding-top: 20px;padding-bottom: 10px;margin-bottom: 0px;background: #69bbc0;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="company-logo simple">
								<ul>
									<li>
										<figure><a href="#"><img src="assets/extra-images/fb-clients-1.png" alt=""></a></figure>
									</li>
									<li>
										<figure><a href="#"><img src="assets/extra-images/fb-clients-2.png" alt=""></a></figure>
									</li>
									<li>
										<figure><a href="#"><img src="assets/extra-images/fb-clients-3.png" alt=""></a></figure>
									</li>
									<li>
										<figure><a href="#"><img src="assets/extra-images/fb-clients-4.png" alt=""></a></figure>
									</li>
									<li>
										<figure><a href="#"><img src="assets/extra-images/fb-clients-5.png" alt=""></a></figure>
									</li>
									<li>
										<figure><a href="#"><img src="assets/extra-images/fb-clients-6.png" alt=""></a></figure>
									</li>
									<li>
										<figure><a href="#"><img src="assets/extra-images/fb-clients-7.png" alt=""></a></figure>
									</li>
									<li>
										<figure><a href="#"><img src="assets/extra-images/fb-clients-8.png" alt=""></a></figure>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Client logo Section End -->
			<!-- Home Pages Elements End  -->
		</div>
		<!-- Main Section End -->
		<!-- Footer Start -->
		<footer id="footer" class="footer-style-2">
			<div class="footer-widget">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="widget widget-newsletter">
								<div class="widget-title">
									<h5>Subscribe to our Newsletter</h5>
								</div>
								<div class="fieldset">
									<form action="#">
										<div class="field-holder">
											<label>
												<i class=" icon-envelope3"></i>
												<input type="text" class="field-input" placeholder=" Enter Your Email Address...">
											</label>
										</div>
										<div class="field-holder btn-holder">
											<input class="subscribe-btn bgcolor" type="submit" value="Sign Up">
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="widget widget_text">
								<div class="widget-title">
									<h5>About us</h5>
								</div>
								<div class="textwidget">Foodbakery is the business of food and restaurants.
									Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
									Explore restaurants, bars, and cafés by locality cum doctus civibus
									efficiantur in imperdiet deterruisset. FoodBakery Just ordered me some grub
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
							<div class="widget widget-top-cities">
								<div class="widget-title">
									<h5>Popular Cities</h5>
								</div>
								<ul>
									<li><a href="listings.html">Aberaeron</a></li>
									<li><a href="listings.html">Aberdeenshire</a></li>
									<li><a href="listings.html">Anston</a></li>
									<li><a href="listings.html">Ascot</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
							<div class="widget widget-top-cities">
								<div class="widget-title">
									<h5>Popular Cuisines</h5>
								</div>
								<ul>
									<li><a href="listings.html">BB.Q</a></li>
									<li><a href="listings.html">ChickenRoast</a></li>
									<li><a href="listings.html">Cold Coffee</a></li>
									<li><a href="listings.html">Cold Drink</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
							<div class="widget widget-categories">
								<div class="widget-title">
									<h5>Menu</h5>
								</div>
								<ul>
									<li><a href="blog-large.html">Blog Large</a></li>
									<li><a href="blog-medium.html">Blog Medium</a></li>
									<li><a href="blog-medium.html">Blog Masonry</a></li>
									<li><a href="contact-us.html">Contact</a></li>
									<li><a href="faq.html">FAQ’s</a></li>
									<li><a href="how-it-works.html">How itworks</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="widget widget-connect">
								<div class="widget-title">
									<h5> Connect</h5>
								</div>
								<ul>
									<li><span class="bgcolor"><i class="icon-ring_volume"></i></span>
										<p>+1 123 456 7892</p>
									</li>
									<li><span class="bgcolor"><i class="icon-envelope-o"></i></span>
										<p><a href="#">support@chimpstudio.com</a>
										</p>
									</li>
									<li><span class="bgcolor"><i class="icon-location-pin2"></i></span>
										<p>33 - B, 2nd Floor, Saint Jhon Doe Appartments, Sussex, UK.26AL565C.</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright-sec">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="copyright-inner">
								<div class="copy-right">
									<p>© 2020 Foodbakery. All Rights Reserved. Powered By <a href="#">ChimpGroup</a>.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /.cs-copyright -->
		</footer>
		<!-- Footer End -->
	</div>
	<!-- Modal Popup Start -->
	<div class="modal fade" id="sign-in" aria-labelledby="myModalLabel">
		<div class="modal-dialog">
			<div class="login-form">
				<div class="modal-content">
					<div class="tab-content">
						<div id="user-login-tab" class="tab-pane fade in active">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<h5 class="modal-title foodbakery-dev-login-main-title">Login To Your Account</h5>
							</div>
							<div class="modal-body">
								<p class="foodbakery-dev-login-top-msg"></p>
								<div class="cs-login-pbox">
									<div class="status status-message"></div>
									<form method="post" class="wp-user-form webkit" id="ControlForm_43687">
										<div class="cs-demo-login">
											<div class="cs-demo-login-lable text-color">Click to login with Demo User
											</div>
											<div class="clearfix"></div>
											<ul class="login-switches">
												<li>
													<a href="restaurant-dashboard.html" class="btn-red demo-publisher-user"><i class="icon-food"></i> Restaurant</a>
												</li>
												<li>
													<a href="buyer-dashboard.html" class="btn-red btn-green demo-buyer-user"><i class="icon-user4"></i> Buyer</a>
												</li>
											</ul>
										</div>
										<div class="input-filed">
											<i class="icon-user4"></i>
											<input type="text" placeholder="Username">
										</div>
										<div class="input-filed">
											<i class="icon-unlock-alt"></i>
											<input type="password" value="Password">
										</div>
										<div class="forget-password">
											<a data-toggle="tab" href="#user-password" class="cs-forgot-switch forgot-switch">Forgot Password?</a>
										</div>
										<div class="input-filed input-field-btn">
											<div class="ajax-login-button input-button-loader">
												<input type="button" class="cs-bgcolor" value="Log in">
											</div>
										</div>
									</form>
									<div class="signin-tab-link forget-password">
										New Here?
										<a data-toggle="tab" href="#user-register" class="foodbakery-dev-login-box-btn forgot-switch">Signup</a>
									</div>
									<div class="footer-element comment-form-social-connect social_login_ui ">
										<div class="social-media">
											<h6><span>Login with</span></h6>
											<ul>
												<li><a href="#" title="Facebook" data-original-title="Facebook" class="social_login_login_facebook facebook"><span class="social-mess-top fb-social-login" style="display:none">Please set API key</span><i class="icon-facebook"></i>Sign In With Facebook</a></li>
												<li><a href="#" title="Twitter" data-original-title="twitter" class="social_login_login_twitter twitter"><span class="social-mess-top tw-social-login" style="display:none">Please set API key</span><i class="icon-twitter3"></i>Sign In With Twitter</a></li>
												<li><a href="#" rel="nofollow" title="google-plus" data-original-title="google+" class="social_login_login_google gplus"><span class="social-mess-top gplus-social-login" style="display:none">Please set API key</span><i class="icon-google4"></i>Sign In With Google</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="user-register" class="tab-pane fade">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
								<h5 id="myModalLabel" class="modal-title">Sign Up</h5>
							</div>
							<div class="modal-body">
								<div role="tabpanel" class="tab-pane active">
									<div id="result_296069" class="status-message"></div>
									<form method="post" class="wp-user-form demo_test">
										<div class="input-filed foodbakery-company-name">
											<i class="icon-v-card"></i>
											<input type="text" placeholder="Company Name">
										</div>
										<div class="input-filed">
											<i class="icon-user4"></i>
											<input type="text" placeholder="Username">
										</div>
										<div class="input-filed">
											<i class="icon-v-card"></i>
											<input type="text" placeholder="Display Name">
										</div>
										<div class="input-filed">
											<i class="icon-email"></i>
											<input type="email" placeholder="Email">
										</div>
										<span class="signup-alert">
											<b>Note :</b> Please enter your correct email and we will send you a
											password
											on that email.
										</span>
										<div class="checkbox-area">
											<input type="checkbox" id="terms-head" class="foodbakery-dev-req-field">
											<label for="terms-head">
												By Registering You Confirm That You Accept theme
												<a target="_blank" href="#">
													Terms &amp; conditions
												</a>
												And
												<a target="_blank" href="#">
													Privacy Policy
												</a>
											</label>
										</div>
										<div class="side-by-side select-icon clearfix">
											<div class="select-holder"></div>
										</div> 
										<div class="checks-holder">
											<div class="input-filed input-field-btn">
												<div class="ajax-signup-button input-button-loader">
													<input type="button" value="Sign Up">
												</div>
											</div>
										</div>
									</form>
									<div class="register_content"></div>
									<div class="create- signin-tab-link ">Already have an account?
										<a data-toggle="tab" href="#user-login-tab" class="foodbakery-dev-signup-box-btn">Login here</a>
									</div>
									<div class="footer-element comment-form-social-connect social_login_ui">
										<div class="social-media">
											<h6><span>Login with</span></h6>
											<ul>
												<li><a href="javascript:void(0);" title="Facebook" data-original-title="Facebook" class="social_login_login_facebook facebook"><span class="social-mess-top fb-social-login" style="display:none">Please set API key</span><i class="icon-facebook"></i>Sign In With
														Facebook</a></li>
												<li><a href="javascript:void(0);" title="Twitter" data-original-title="twitter" class="social_login_login_twitter twitter"><span class="social-mess-top tw-social-login" style="display:none">Please set API key</span><i class="icon-twitter3"></i>Sign In With
														Twitter</a></li>
												<li><a href="javascript:void(0);" rel="nofollow" title="google-plus" data-original-title="google+" class="social_login_login_google gplus"><span class="social-mess-top gplus-social-login" style="display:none">Please set API key</span><i class="icon-google4"></i>Sign In With
														Google</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="user-password" class="tab-pane fade">
							<div class="content-style-form cs-forgot-pbox content-style-form-2">
								<div>
									<form class="user_form" method="post">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">×</span>
											</button>
											<h5 class="modal-title foodbakery-dev-login-main-title">Create Your Food
												Bakery Account</h5>
										</div>
										<div class="modal-body modal-body-loader">
											<span class="alert-info">Enter your email address below and we'll send you
												an
												email with instructions on how to change your password</span>
											<div class="input-filed">
												<i class="icon-email"></i>
												<input type="text" placeholder="Enter email address..." name="user_input">
											</div>
											<div class="input-filed input-field-btn">
												<div class="ajax-forgot-button input-button-loader">
													<input type="submit" class="reset_password cs-bgcolor" name="submit" value="Submit">
												</div>
											</div>
											<div class="forget-password">
												<a data-toggle="tab" href="#user-login-tab" class="cs-login-switch forgot-switch triggered-click">Login Here</a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal Popup End -->
	<script src="{% static 'js/responsive.menu.js' %}"></script>
	<script src="{% static 'js/swiper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'js/chosen.js' %}"></script>
	<script src="{% static 'js/counter.js' %}"></script>
	<script src="{% static 'js/fliters.js' %}"></script>
	<script src="{% static 'js/jquery.fitvids.js' %}"></script>
	<script src="{% static 'js/jquery.growl.js' %}"></script>
	<script src="{% static 'js/jquery.matchHeight-min.js' %}"></script>
	<script src="{% static 'js/masonry.pkgd.js' %}"></script>
	<script src="{% static 'js/skills-progress.js' %}"></script>
	<script src="{% static 'js/bootstrap-slider.js' %}"></script>
	<script src="{% static 'js/wow.js' %}"></script>
	<script src="{% static 'js/functions-plugin.js' %}"></script>
	<script src="{% static 'js/functions.js' %}"></script>
</body>

</html>